* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.bg-img{
    background: url('/assets/gif/4.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}

.title{
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 15px 15px rgba(221, 35, 35, 0.53);
}

.project-card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.preview-img {
    cursor: zoom-in;
}


.project-card h5 {
    margin-bottom: 10px;
    color: #333;
}

.project-card p {
    color: #666;
    margin-bottom: 15px;
}

.project-card button {
    padding: 10px 15px;
    border: none;
    background: #0d6efd;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.project-card button:hover {
    background: rgba(221, 35, 35, 0.75);
    transition: background 0.3s ease;
}
